.mailer-signup__container{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  width: 450px;
  /* border-radius: 2%; */
  /* box-shadow: 2px 5px 3px 0 rgb(0 0 0 / 50%); */
}

.mailer-signup__form{
  display: flex;
  /* justify-content: space-between; */
  /* flex-direction: column; */
  /* height: 150px;
  width: 200px;
  
  align-items: center; */
}
.mailer-signup__submit-btn{
 background-color: black;
  color: white;
  width: 300px;
  padding: 7px;
  cursor: pointer;
  font-size: medium;
}