.mailer-signup__container{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  width: 200px;
  border-radius: 2%;
  box-shadow: 2px 5px 3px 0 rgb(0 0 0 / 50%);
}

.mailer-signup__form{
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 200px;
  justify-content: space-around;
  align-items: center;
}
.mailer-signup__submit-btn{
  background-color: blue;
  color: white;
  width: 100px;
}